

.names {
    text-align: center;
    margin-top: 10px;
}

.names a {
    margin: 0 25px;
    font-family: Ds-font, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 50px;
    transition: .5s ease-in-out;
    transform: scale(1);
}

.names a:hover {
    background: #d812f0;
    padding: 5px 10px;
    transform: scale(1.2);
}

.about-us{
    font-family: Ds-font, sans-serif;
    text-align: center;
    font-size: 25px;
    word-spacing: 2px;
    background: white;
    margin: 15% auto 0 auto;
    max-width: 600px;
    border: 5px solid #d812f0;
    padding: 25px;
}
