.page-subtitle {
    font-family: Ds-font, sans-serif;
    font-size: 50px;
    text-align: center;
    display: block;   /* makes it act like a heading */
    margin-top: 10px;
    font-weight: normal;
}
#scoreboard{
    font-family: Ds-font, sans-serif;
    font-size: 50px;
    text-align: center;
}

#game{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    position: relative;
}

.player-label {
    font-family: Ds-font, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}

.rigShop {
    font-family: Ds-font, sans-serif;
    text-align: center;
    position: absolute;
    right: 10%;
    width: 25%;

    border: 3px solid #d812f0;
    background: #fff;
    font-size: 30px;
}


.price{
    border-top: 2px solid #d812f0;
    border-bottom: 2px solid #d812f0;
    padding-top: 10px;
}

.items{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}

.items button{
    width: 100%;
    box-sizing: border-box;
}


.upgradeShop{
    font-family: Ds-font, sans-serif;
    text-align: center;
    position: absolute;
    left: 10%;
    width: 25%;
    border: 3px solid #d812f0;
    background: #fff;
    font-size: 30px;
}

.leftPrice{
    padding-top: 10px;
    border-top: 2px solid #d812f0;
    border-bottom: 2px solid #d812f0;
    padding-top: 10px;
}

.leftItems{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 5px;
}

.leftItems button{
    width: 100%;
    box-sizing: border-box;
}







.crypto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: #d812f0;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: 0.25s ease-in-out;
}
.crypto:hover {
    background: #f09712;
    font-size: 25px;
    padding: 5px 10px;
}

.content {
    margin-top: 150px;
}

#secretUpgrade {
    margin-top: 15px;
}

#secretUpgrade button {
    font-family: Ds-font, sans-serif;
    background-color: #d812f0;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}