<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <h2 class="title-bar">
        Meet the Developers
    </h2>

    <div class="names">
        <span>
            <a href="/about/ted">Ted</a>
            <a href="/about/timothy">Timothy</a>
            <a href="/about/mason">Mason</a>
            <a href="/about/nick">Nick</a>
        </span>
    </div>

    <p class="about-us">
        Hello and welcome to CryptoClicker! We're a small group of four developers creating this game
        for our software engineering class. We hope you enjoy playing our project.
    </p>
</body>
</html>