<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/game.css">

    <script th:inline="javascript">

        window.addEventListener("DOMContentLoaded", () => {
            document.getElementById("score").textContent = 0;
        });

        var currentUser = [[${user}]];
        var currentUserName = [[${currentUserName}]];
        var currentUserScore = [[${currentUserScore}]];

    </script>
    <script th:src="@{/scripts/game.js}" defer></script>
</head>

<body>

<h2 class="title-bar">Crypto Clicker</h2>

<div id="scoreboard">Crypto: <span id="score">0</span></div>

<div id="game">

    <button class="crypto" onclick="addScore()">Click Here!</button>

    <div class="rigShop">
        Mining Rig Shop

        <div class ="price">
            Hover over the shop items to see their price!
        </div>

        <div class ="items">
            <button onclick="buy('mk1')" onmouseover="swap('mk1')">mk1</button>
            <button onclick="buy('mk2')" onmouseover="swap('mk2')">mk2</button>
            <button onclick="buy('mk3')" onmouseover="swap('mk3')">mk3</button>
            <button onclick="buy('mk4')" onmouseover="swap('mk4')">mk4</button>
            <button onclick="buy('mk5')" onmouseover="swap('mk5')">mk5</button>
            <button onclick="buy('mk6')" onmouseover="swap('mk6')">mk6</button>
            <button onclick="buy('mk7')" onmouseover="swap('mk7')">mk7</button>
            <button onclick="buy('mk8')" onmouseover="swap('mk8')">mk8</button>
            <button onclick="buy('mk9')" onmouseover="swap('mk9')">mk9</button>
            <button onclick="buy('mk10')" onmouseover="swap('mk10')">mk10</button>
            <button onclick="buy('mk11')" onmouseover="swap('mk11')">mk11</button>
            <button onclick="buy('mk12')" onmouseover="swap('mk12')">mk12</button>
        </div>

    </div>
</div>



<div class="content">
    <div class="info">
        <p id="testLabel">Start Clicking!</p>
        <a href="#" onclick="exitGame()">Back</a>
    </div>
</div>

</body>
</html>