<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/game.css">

    <script th:inline="javascript">
        window.addEventListener("DOMContentLoaded", () => {
            document.getElementById("score").textContent = 0;
        });
    </script>

    <script th:src="@{/scripts/game.js}" defer></script>
</head>

<body>

<h2 class="title-bar">Crypto Clicker</h2>

<p class="player-label">
    Playing as: <span th:text="${currentUserName}">Guest</span>
</p>

<div id="scoreboard">
    Crypto: <span id="score">0</span>
</div>

<div id="game">

    <button class="crypto" onclick="addScore()">Click Here!</button>

    <div class="rigShop">
        Mining Rig Shop

        <div class="price">
            Hover over the shop items to see their price and how many you have!
        </div>

        <div class="items">
            <button data-item="mk1">mk1</button>
            <button data-item="mk2">mk2</button>
            <button data-item="mk3">mk3</button>
            <button data-item="mk4">mk4</button>
            <button data-item="mk5">mk5</button>
            <button data-item="mk6">mk6</button>
            <button data-item="mk7">mk7</button>
            <button data-item="mk8">mk8</button>
            <button data-item="mk9">mk9</button>
            <button data-item="mk10">mk10</button>
            <button data-item="mk11">mk11</button>
            <button data-item="mk12">mk12</button>
        </div>

        <div class="inventory">
            <h3>Inventory</h3>

            <p id="inventoryList">
                No rigs purchased yet.
            </p>
        </div>

        <div id="secretUpgrade" style="display:none;">
            <button onclick="buyClickUpgrade()">
                Secret Click Upgrade - $25 Million
            </button>
        </div>

    </div>


    <div class="upgradeShop">
        Upgrade Shop

        <div class="leftPrice">
            Hover over the shop items to see their price!
        </div>

        <div class="leftItems">
<!--            <button data-item="mk1">mk1 overcharge Upgrade</button>-->
<!--            <button data-item="mk1">mk1 overcharge Upgrade</button>-->
            <button data-item="mk1">mk1 overcharge Upgrade</button>
            <button data-item="mk2">mk2 overcharge Upgrade</button>
            <button data-item="mk3">mk3 overcharge Upgrade</button>
            <button data-item="mk4">mk4 overcharge Upgrade</button>
            <button data-item="mk5">mk5 overcharge Upgrade</button>
            <button data-item="mk6">mk6 overcharge Upgrade</button>
            <button data-item="mk7">mk7 overcharge Upgrade</button>
            <button data-item="mk8">mk8 overcharge Upgrade</button>
            <button data-item="mk9">mk9 overcharge Upgrade</button>
            <button data-item="mk10">mk10 overcharge Upgrade</button>
            <button data-item="mk11">mk11 overcharge Upgrade</button>
            <button data-item="mk12">mk12 overcharge Upgrade</button>
        </div>

        <div class="leftinventory">
            <h3>Inventory</h3>

            <p id="leftinventoryList">
                No upgrades purchased yet.
            </p>
        </div>

    </div>

</div>

<div class="content">
    <div class="info">
        <p id="testLabel">Start Clicking!</p>
        <a href="#" onclick="exitGame()">Back</a>
    </div>
</div>

</body>
</html>

