<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/game.css">

    <script th:inline="javascript">
        var currentUser = [[${user}]];
        var currentUserName = [[${currentUserName}]];
        var currentUserScore = [[${currentUserScore}]];
    </script>

    <script th:src="@{/scripts/game.js}"></script>
</head>

<body>

<h2 class="title-bar">Crypto Clicker</h2>

<div class="content">
    <div class="info">
        <p id="testLabel">Start Clicking!</p>
        <a href="#" onclick="exitGame()">Back</a>
    </div>
</div>

</body>
</html>