<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <div class="title-bar">
        <h2 class="title-bar">Welcome to Crypto Clicker</h2>
        <h4>Can you click enough?</h4>
    </div>

    <div class="start">
        <span>
            <a href="/login">Login.</a>
            <a href="/game">Play as Guest.</a>
        </span>
    </div>

    <div class="info">
        <a href="/about">About</a>
    </div>

</body>
</html>