<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<!--    <link rel="stylesheet" href="/css/main.css">-->
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <div class="title-bar">
        <h2 class="title-bar">Welcome to Crypto Clicker</h2>
        <h4>Can you click enough?</h4>
    </div>

    <div class="start">
        <span>
            <a href="/about">About</a>
            <a href="/login">Login</a>
            <a href="/guest-login">Play as Guest</a>
            <a href="/register">Register</a>
        </span>
    </div>

</body>
</html>