<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mason</title>

    <link rel="stylesheet" href="/css/timothy.css">
</head>

<body>

<div class="top-left">
    <h1>Mason</h1>
</div>

<div class="top-right">
    <img src="/assets/mason_pfp.jpg" alt="Profile Photo">
</div>

<div class="bio">
    <p>
        Hey, I'm Mason. I'm part of Group 2 working on the CryptoClicker project.
        I'm currently studying software development and learning Spring Boot.

        Outside of coding, I like gaming and playing pickleball.
    </p>
</div>

<div class="info">
    <a href="/about">About</a>
</div>

</body>
</html>