<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nick</title>
    <link rel="stylesheet" href="/css/timothy.css">
</head>
<body>
    <div class="top-left">
        <h1>Nick</h1>
    </div>

    <div class="top-right">
        <img src="/assets/ncpfp.jpg" alt="Profile Photo">
    </div>

    <div class="bio">
        <p>My name is Nick and I have been interested in computer programming for my whole life. I develop indie video games as a
        hobby, and you can find my games at <a href="https://heresnicksgames.itch.io/">heresnicksgames.itch.io</a>. Another fun fact
        about me is that I stole Timothy's stylesheet haha.</p>
    </div>

    <div class="info">
        <a href="/about">About</a>
    </div>
</body>
</html>