<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<h2 class="title-bar">
    Register
</h2>


<form th:action="@{/register}" th:object="${player}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" required/><br/>

    <label>Password:</label>
    <input type="password" th:field="*{password}" required/><br/>

    <button type="submit">
        Register
    </button>

</form>

<p th:text="${error}"></p>


<div class="info">
    <a href="/home">Home</a>
</div>

</body>
</html>
