<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ted</title>
    <link rel="stylesheet" href="/css/Ted.css">
</head>
<body>
<div class="top-left">
    <h1>Ted</h1>
</div>

<div class="top-right">
    <img src="/assets/Ted_pfp.jpg" alt="Profile Photo">
</div>

<div class="container">
    <div class="bio"><p>Hey all, I was a computer science major but currently a Geography major with an emphasis on GIS. I am a college junior. I enjoy playing dnd with friends and building computers and taking cool pictures of clouds. To the right is an example of work I've done for GIS. It is a rendering of Mt. Rainier</p>
    </div>
    <div class="box-right"><img src="/assets/Gis_work.jpg" alt="Profile Photo"></div>
</div>

<div class="info">
    <a href="/about">About</a>
</div>

</body>
</html>