
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Timothy</title>

  <link rel="stylesheet" href="/css/timothy.css">

</head>

<body>

<div class="top-left">
  <h1>Timothy Nordstrom</h1>
</div>

<div class="top-right">
  <img src="/assets/med2.jpg" alt="Profile Photo">
</div>

<div class="bio">
  <p>
    Hello, I'm me. I'm a senior computer science major. I used to be a music major, but swapped because it was boring.
    I play guitar and piano as a hobby, along with other artsy things like watercolor painting.
    My favorite video game is Umurangi Generation and favorite album is The family jewels. Anyway, thanks for reading.
  </p>
</div>

<div class="info">
  <a href="/about">About</a>
</div>

</body>
</html>