<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Welcome</title>
</head>
<body>
    <div class="title-bar">
        <h2 th:object="${user}">Welcome <a th:text="*{username}">Guest</a>!</h2>
        <p th:object="${user}">Think you can beat your high-score of <a th:text="*{score}">1000</a> crypto?</p>
    </div>

    <div class="body">
        <a href="/game">Heck Yeah!</a>
        <a href="/home">Heck No :(</a>
    </div>
</body>
</html>